@import "~bootstrap/scss/bootstrap";

.guest > .guest_header{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    padding-bottom: 10%;
    padding-left: 100%;

    // margin-right: 100%;
    // margin-bottom: 20px;
    background-color:white;
}

.signal{
    font-size: 100px;

}