@import "~bootstrap/scss/bootstrap";

.guest_container{
    margin-top: 20px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.signal{
    font-size: 100px;

}