.about_pg{

background-color: #0d0d0d;
width: 250vh;
  height: 100vh;
color: #f0ffff;


.header {


  margin-top: 60px;
  margin-bottom: 30px;
 min-height: 5vh;
 min-width: 250vh;
display: flex;
text-align: center;
 justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 34pt;

}

.content{
 
  
}
}